<div>
  <label for="userSelect">Select User:</label>
  <select id="userSelect" (change)="onUserChange($event)">
    <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
  </select>
</div>

<div>
  <h3>Feedback List</h3>
  <table>
    <thead>
      <th>Feedback ID</th>
      <th>Status</th>
      <th>From</th>
      <th>Actions</th>
    </thead>
    <tbody>
      @if (loading) {
      <tr>
        <td colspan="4">Loading proposals...</td>
      </tr>
      } @if (error) {
      <tr>
        <td colspan="4">{{ error }}</td>
      </tr>
      } @if (!loading && !error) { @for (feedback of feedbacks; track feedback.feedbackId) {
      <tr>
        <td>{{ feedback.feedbackId }}</td>
        <td>{{ feedback.status }}</td>
        <td>{{ feedback.feedbackFrom === null ? 'Pending' : feedback.feedbackFrom!.name }}</td>
        <td>
          <button [routerLink]="['/feedbacks/view', feedback.feedbackId]">View</button>
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="4">No contents</td>
      </tr>
      } }
    </tbody>
  </table>
</div>
