@import 'primeicons/primeicons.css' layer(base);
@import 'tailwindcss';
@config '../tailwind.config.js';



:root {
--muted: 240 4.8% 95.9%;
--muted-foreground: 240 3.8% 46.1%;
color-scheme: light;
}

.dark {
--muted: 240 3.7% 15.9%;
--muted-foreground: 240 5% 64.9%;
color-scheme: dark;
}