<p-table [value]="proposals" selectionMode="single">
  <ng-template #header>
    <tr>
      <th>Proposal ID</th>
      <th>Latest Title</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-proposal>
    <tr [pSelectableRow]="proposal" [routerLink]="['/proposals/view', proposal.proposalId]">
      <td>{{ proposal.proposalId }}</td>
      <td>
        {{ proposal.latestTitle }}
      </td>
      <td>
        <p-tag [value]="(proposal.status! | statusDisplay).text" [severity]="(proposal.status! | statusDisplay).severity" />
      </td>
      <td>
        <p-button severity="contrast" label="View" styleClass="p-button-outlined" [routerLink]="['/proposals/view', proposal.proposalId]" />
      </td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td class="text-sm text-muted-foreground" colspan="4">
        @if (error) {
        {{ error }}
        } @else { No proposals found.}
      </td>
    </tr>
  </ng-template>
</p-table>
