<h1>Edit Module</h1>

<form (ngSubmit)="updateModule()">
  <label>
    Module ID:
    <input type="text" [(ngModel)]="moduleId" name="moduleId" required readonly />
  </label>
  <br />

  <h2>Translations</h2>
  @for (translation of module.translations; track translation.language) {
    <div>
      <h3>Language: {{ translation.language }}</h3>
      <label>
        Title:
        <input type="text" [(ngModel)]="translation.title" name="title{{translation.language}}" />
      </label>
      <br />
      <label>
        Recommended Prerequisites:
        <input type="text" [(ngModel)]="translation.recommendedPrerequisites" name="recommendedPrerequisites{{translation.language}}" />
      </label>
      <br />
      <label>
        Assessment Method:
        <input type="text" [(ngModel)]="translation.assessmentMethod" name="assessmentMethod{{translation.language}}" />
      </label>
      <br />
      <label>
        Learning Outcomes:
        <input type="text" [(ngModel)]="translation.learningOutcomes" name="learningOutcomes{{translation.language}}" />
      </label>
      <br />
      <label>
        Media Used:
        <input type="text" [(ngModel)]="translation.mediaUsed" name="mediaUsed{{translation.language}}" />
      </label>
      <br />
      <label>
        Literature:
        <input type="text" [(ngModel)]="translation.literature" name="literature{{translation.language}}" />
      </label>
      <br />
      <hr />
    </div>
  }

  <button type="submit">Update Module</button>
</form>
