@if(error) {
    <div class="error">{{error}}</div>
}
<div>
    <header>
        <h1>Module Management</h1>
        <select (change)="onUserChange($event)" [disabled]="loading">
            <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
        </select>
        <button class="create-proposal-button" [routerLink]="['/proposals/create']">Create new Module Proposal</button>
    </header>
    <table>
        <thead>
            <tr>
                <th>Proposal ID</th>
                <th>Latest Title</th>
                <th>Status</th>
                <th>Latest Version</th>
                <th>Created By</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (loading) {
                <tr>
                    <td colspan="5">Loading proposals...</td>
                </tr>
            }
            @if (!loading) {
                @for (proposal of proposals; track proposal.proposalId) {
                    <tr>
                        <td>{{ proposal.proposalId }}</td>
                        <td>{{ proposal.latestTitle }}</td>
                        <td>{{ proposal.status }}</td>
                        <td>{{ proposal.latestVersion }}</td>
                        <td>{{ proposal.createdBy }}</td>
                        <td>
                            <button [routerLink]="['/proposals/view', proposal.proposalId]">View</button>
                            <button (click)="submitProposal(proposal.proposalId)" [disabled]="(proposal.status !== proposalEnum.PendingSubmission)">Submit</button>
                            <button (click)="deleteProposal(proposal.proposalId)" [disabled]="(proposal.status !== proposalEnum.PendingFeedback && proposal.status !== proposalEnum.PendingSubmission)">Delete</button>
                        </td>
                    </tr>
                }
                @empty {
                    <tr>
                        <td colspan="5">No contents</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>