spring:
  config:
    import: optional:file:../.env[.properties]
  application:
    name: ModuleManagement
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/master.yaml
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${KEYCLOAK_URL:http://localhost:${KEYCLOAK_PORT:8081}}/realms/${KEYCLOAK_REALM:module-management}/protocol/openid-connect/certs
          issuer-uri: ${KEYCLOAK_URL:http://localhost:${KEYCLOAK_PORT:8081}}/realms/${KEYCLOAK_REALM:module-management}
  ai:
    openai:
      api-key: ${OPENAI_API_KEY:not-needed}
      base-url: ${LOCAL_LLM_BASE_URL:http://localhost:1234}
      chat:
        options:
          model: ${LOCAL_LLM_MODEL:}

    # azure:
    #   openai:
    #     api-key: ${AZURE_API_KEY:}
    #     endpoint: ${AZURE_ENDPOINT:}
    #     chat:
    #       options:
    #         deployment-name: ${AZURE_DEPLOYMENT_NAME:}

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG
    org.springframework.security.jwt: DEBUG

ai-service:
  url: http://localhost:${AI_SERVICE_PORT}

module-management:
  keycloak:
    url: http://localhost:${AUTH_PORT}/auth
    realm: ${KEYCLOAK_REALM}
    client-id: ${KEYCLOAK_CLIENT_ID}

springdoc:
  api-docs:
    yaml:
      path: /v3/api-docs.yaml
  default-produces-media-type: application/json
  default-consumes-media-type: application/json
