@if (loading) {
  <div class="fixed inset-0 flex justify-center items-center">
    <p-progress-spinner ariaLabel="loading" />
  </div>
} @else if (error) {
  <p-message severity="error" class="mt-8">
    <div class="flex flex-row">
      <i class="pi pi-info-circle" style="font-size: 1.2rem"></i>
      <div class="ml-3">
        <p>{{ error }}</p>
      </div>
    </div>
  </p-message>
} @else if (proposal) {
  <div>
    <h2 class="text-2xl mb-6">Module Proposal '{{ proposal.latestModuleVersion?.titleEng }}'</h2>

    <div class="grid grid-cols-4 gap-4">
      <div class="col-span-2 grid grid-cols-2 gap-4">
        <div>
          <p class="text-sm text-muted-foreground">Proposal ID</p>
          <p class="text-lg font-medium">{{ proposal.proposalId }}</p>
        </div>
        <div>
          <p class="text-sm text-muted-foreground">Latest Version</p>
          <p class="text-lg font-medium">{{ proposal.latestVersion }}</p>
        </div>
        <div>
          <p class="text-sm text-muted-foreground">Proposal Status</p>
          <p-tag [value]="(proposal.status! | statusDisplay).text" [severity]="(proposal.status! | statusDisplay).severity" />
        </div>
        <div>
          <p class="text-sm text-muted-foreground">Created On</p>
          <p class="text-lg font-medium">{{ proposal.creationDate | date: 'yyyy-MM-dd' }}</p>
        </div>
      </div>

      <p-message severity="secondary" class="col-span-2">
        <div class="flex flex-row">
          <i class="pi pi-info-circle mt-1" style="font-size: 1.2rem"></i>
          <div class="ml-3">
            <p class="font-bold">Information</p>
            <p>{{ proposal.status! | statusInfo }}</p>
          </div>
        </div>
      </p-message>
    </div>
  </div>

  <h2 class="text-xl mt-10 mb-8">Current Module Versions</h2>
  <p-table [value]="[proposal.latestModuleVersion]" selectionMode="single">
    <ng-template #header>
      <tr>
        <th>Version</th>
        <th>Title</th>
        <th>Status</th>
        <th>Required Feedbacks</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template #body let-version>
      <tr [pSelectableRow]="version" [routerLink]="['/proposals/view', proposal.proposalId, 'version', proposal.latestModuleVersion!.moduleVersionId]">
        <td>{{ proposal.latestVersion }}</td>
        <td>
          {{ proposal.latestModuleVersion!.titleEng }}
        </td>
        <td>
          <p-tag [value]="(proposal.latestModuleVersion!.status! | moduleVersionStatus).text" [severity]="(proposal.latestModuleVersion!.status! | moduleVersionStatus).severity" />
        </td>
        <td>
          <div class="flex">
            @if (proposal.latestModuleVersion!.feedbackList!.length) {
              @for (feedback of proposal.latestModuleVersion!.feedbackList; track feedback.requiredRole) {
                <div
                  [pTooltip]="'Feedback from ' + (feedback.requiredRole! | feedbackDepartment).text + ': ' + (feedback.status | feedbackStatus).text"
                  tooltipPosition="top"
                  class="w-8 h-8 mr-2 rounded"
                  [class]="(feedback.status | feedbackStatus).normalColor"
                ></div>
              }
            }
          </div>
        </td>
        <td>
          <div class="flex gap-2">
            @if (proposal.latestModuleVersion!.isComplete && proposal.latestModuleVersion!.status == moduleStatusEnum.PendingSubmission) {
              <p-button label="Submit" severity="success" (onClick)="submitProposal()" (click)="$event.stopPropagation()" />
            }
            @if (proposal.latestModuleVersion!.status === moduleStatusEnum.FeedbackGiven || proposal.latestModuleVersion!.status === moduleStatusEnum.Rejected) {
              <p-button
                label="View Feedback"
                severity="contrast"
                outlined
                [routerLink]="['/proposals/view', proposal.proposalId, 'version', proposal.latestModuleVersion!.moduleVersionId]"
                (click)="$event.stopPropagation()"
              />
            }
            @if (proposal.latestModuleVersion!.status === moduleStatusEnum.PendingSubmission) {
              <p-button
                label="Edit"
                outlined
                severity="contrast"
                [routerLink]="['/proposals/view', proposal.proposalId, 'version', proposal.latestModuleVersion!.moduleVersionId, 'edit']"
                (click)="$event.stopPropagation()"
              />
            }
            @if (proposal.latestModuleVersion!.status === moduleStatusEnum.PendingFeedback) {
              <p-button label="Cancel" severity="danger" outlined (onClick)="cancelProposal()" (click)="$event.stopPropagation()" />
            }
            @if (proposal.status === proposalStatusEnum.RequiresReview) {
              <p-button label="Create New Version" severity="contrast" outlined (onClick)="addNewModuleVersion()" (click)="$event.stopPropagation()" />
            }
            <p-button
              label="Overlaps"
              outlined
              severity="contrast"
              [routerLink]="['/proposals/view', proposal.proposalId, 'version', proposal.latestModuleVersion?.moduleVersionId, 'overlap']"
              (click)="$event.stopPropagation()"
            />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <h2 class="text-xl mt-10 mb-8 text-muted-foreground">Previous Module Versions</h2>

  <p-table [value]="proposal.oldModuleVersions ?? []" selectionMode="single">
    <ng-template #header>
      <tr>
        <th>Version</th>
        <th>Title</th>
        <th>Status</th>
        <th>Required Feedbacks</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template #body let-version>
      <tr [pSelectableRow]="version" [routerLink]="['/proposals/view', proposal.proposalId, 'version', version.moduleVersionId]">
        <td class="text-muted-foreground">{{ version.version }}</td>
        <td class="text-muted-foreground">
          {{ version.titleEng }}
        </td>
        <td>
          <p-tag [value]="(version.status! | moduleVersionStatus).text" severity="secondary" class="opacity-60" />
        </td>
        <td>
          <div class="flex">
            @if (version.feedbackList?.length) {
              @for (feedback of version.feedbackList; track feedback.requiredRole) {
                <div
                  [pTooltip]="'Feedback from ' + (feedback.requiredRole! | feedbackDepartment).text + ': ' + (feedback.status | feedbackStatus).text"
                  tooltipPosition="top"
                  class="w-8 h-8 mr-2 rounded opacity-60"
                  [class]="(feedback.status | feedbackStatus).fadedColor"
                ></div>
              }
            }
          </div>
        </td>
        <td>
          <div class="flex gap-2">
            <p-button
              label="View Feedback"
              severity="contrast"
              outlined
              [routerLink]="['/proposals/view', proposal.proposalId, 'version', version.moduleVersionId]"
              (click)="$event.stopPropagation()"
            />
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td colspan="5" class="text-center">No previous module versions found.</td>
      </tr>
    </ng-template>
  </p-table>
}
