<header class="w-full flex items-center justify-between p-4 gap-2 bg-gray-100">
  <!-- Left Side: Logo and Title -->
  <div class="flex gap-4 items-center flex-1">
    <a class="flex gap-2 items-center hover:text-muted-foreground" routerLink="/">
      <!-- Replace with your logo if available -->
      <span class="text-xl font-semibold">CIT Module Management</span>
    </a>
  </div>

  <!-- Right Side: Sign In/Out -->
  <div>
    <!-- If the user is signed in -->
    @if(user() !== undefined){

    <p-button #userButton [label]="user()?.firstName + ' ' + user()?.lastName" severity="contrast" [outlined]="true" (onClick)="menu.toggle($event)" />

    <!-- User Menu -->
    <p-menu #menu [model]="menuItems" [popup]="true" [style]="{ 'min-width': userButton.el.nativeElement.offsetWidth + 'px' }" />

    }

    <!-- If the user is not signed in -->
    @else {
    <p-button label="Sign In" severity="contrast" (onClick)="signIn()" />
    }
  </div>
</header>
