services:
  postgres:
    image: "postgres:17.6"
    container_name: module-management-db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - module-management-network
    restart: unless-stopped

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.5
    container_name: module-management-keycloak
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_ADMIN:-admin}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD:-admin}
    command: start-dev --import-realm
    volumes:
      - ../module-management-realm.json:/opt/keycloak/data/import/module-management-realm.json
      - ../keycloak-themes:/opt/keycloak/themes
    ports:
      - "${AUTH_PORT:-8081}:8080"
    networks:
      - module-management-network
    restart: unless-stopped

  ai-service:
    build:
      context: ../AI
      dockerfile: ai.Dockerfile
    container_name: module-management-ai
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - overlap_data:/code/data
      - ../AI/app:/code/app
      - ../AI/requirements.txt:/code/requirements.txt
    environment:
      AZURE_API_KEY: ${AZURE_API_KEY}
      AZURE_ENDPOINT: ${AZURE_ENDPOINT}
      AZURE_DEPLOYMENT_NAME: ${AZURE_DEPLOYMENT_NAME}
      AZURE_API_VERSION: ${AZURE_API_VERSION}
      USE_LOCAL_LLM: ${USE_LOCAL_LLM}
      LOCAL_OPENAI_BASE_URL: ${LOCAL_OPENAI_BASE_URL}
      LOCAL_LLM_MODEL: ${LOCAL_LLM_MODEL}
    ports:
      - "${AI_SERVICE_PORT}:5000"
    networks:
      - module-management-network
    restart: unless-stopped

volumes:
  postgres_data:
  overlap_data:


networks:
  module-management-network:
    driver: bridge
