services:
  postgres:
    image: "postgres:17.7"
    container_name: module-management-db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - module-management-network
    restart: unless-stopped

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.5
    container_name: module-management-keycloak
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_ADMIN:-admin}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD:-admin}
    command: start-dev --import-realm
    volumes:
      - ../module-management-realm.json:/opt/keycloak/data/import/module-management-realm.json
      - ../keycloak-themes:/opt/keycloak/themes
    ports:
      - "${AUTH_PORT:-8081}:8080"
    networks:
      - module-management-network
    restart: unless-stopped

  text-embeddings-inference:
    image: ghcr.io/huggingface/text-embeddings-inference:cpu-latest
    container_name: module-management-tei
    platform: linux/amd64
    pull_policy: always
    command:
      - --model-id
      - sentence-transformers/all-mpnet-base-v2
      - --pooling
      - mean
      - --dtype
      - float32
      - --auto-truncate
    volumes:
      - hf_cache:/data
    ports:
      - "1235:80"
    networks:
      - module-management-network
    restart: unless-stopped


volumes:
  postgres_data:
  hf_cache:


networks:
  module-management-network:
    driver: bridge
