<p-table [value]="feedbacks" selectionMode="single" [loading]="loading">
  <ng-template #header>
    <tr>
      <th>Feedback ID</th>
      <th style="width: 45%">Proposal Title</th>
      <th>Created By</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-feedback>
    <tr [pSelectableRow]="feedback" [routerLink]="['/feedbacks/view', feedback.feedbackId]">
      <td>{{ feedback.feedbackId }}</td>
      <td>
        {{ feedback.moduleVersionTitleEng || 'Untitled Proposal' }}
      </td>
      <td>
        {{ feedback.proposalCreatedByName || 'Unknown' }}
      </td>
      <td>
        <p-tag [value]="(feedback.status | feedbackStatusTag).text" [severity]="(feedback.status | feedbackStatusTag).severity" />
      </td>
      <td>
        <p-button label="View" styleClass="p-button-outlined" severity="contrast" [routerLink]="['/feedbacks/view', feedback.feedbackId]" />
      </td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td class="text-sm text-muted-foreground">
        @if (error) {
        {{ error }}
        } @else { No feedbacks found.}
      </td>
    </tr>
  </ng-template>
</p-table>
