@if (user() !== undefined) {
  <p-button
    #userButton
    [label]="user()?.firstName + ' ' + user()?.lastName"
    severity="contrast"
    [outlined]="true"
    (onClick)="menu.toggle($event)"
    [style]="{ 'min-width': '150px' }"
  />

  <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body" [style]="{ 'min-width': userButton.el.nativeElement.offsetWidth + 'px' }" />
} @else {
  <p-buttongroup>
    <p-button
      label="Sign in"
      severity="contrast"
      (onClick)="securityStore.signInWithTum()"
      pTooltip="Sign in with TUM"
      tooltipPosition="bottom"
      [disabled]="securityStore.isLoading()"
    />
    <p-button
      icon="pi pi-key"
      severity="contrast"
      [ariaLabel]="'Sign in with passkey'"
      pTooltip="Sign in with passkey"
      tooltipPosition="bottom"
      [disabled]="securityStore.isLoading()"
      [loading]="securityStore.isLoading()"
      (onClick)="securityStore.signInWithPasskey()"
    />
  </p-buttongroup>
}
