<form [formGroup]="proposalForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="userId">Professor:</label>
    <select id="userId" formControlName="userId" required>
      <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
    </select>
  </div>

  <div>
    <label for="titleEng">Title (English):</label>
    <input id="titleEng" formControlName="titleEng" type="text" />
  </div>

  <div>
    <label for="levelEng">Level (English):</label>
    <input id="levelEng" formControlName="levelEng" type="text"  />
  </div>

  <div>
    <label for="languageEng">Language:</label>
    <select id="languageEng" formControlName="languageEng" >
      <option value="English">English</option>
      <option value="German">German</option>
          <option value="undefined" [selected]="(proposalForm.get('languageEng')?.value || '') === 'undefined'">Undefined</option>
    </select>
  </div>

  <div>
    <label for="repetitionEng">Repetition:</label>
    <input id="repetitionEng" formControlName="repetitionEng" type="text"  />
  </div>

  <div>
    <label for="frequencyEng">Frequency:</label>
    <input id="frequencyEng" formControlName="frequencyEng" type="text"  />
  </div>

  <div>
    <label for="credits">Credits:</label>
    <input id="credits" formControlName="credits" type="number"  />
  </div>

  <div>
    <label for="hoursTotal">Total Hours:</label>
    <input id="hoursTotal" formControlName="hoursTotal" type="number"  />
  </div>

  <div>
    <label for="hoursSelfStudy">Self-Study Hours:</label>
    <input id="hoursSelfStudy" formControlName="hoursSelfStudy" type="number"  />
  </div>

  <div>
    <label for="hoursPresence">Presence Hours:</label>
    <input id="hoursPresence" formControlName="hoursPresence" type="number"  />
  </div>

  <div>
    <label for="examinationAchievementsEng">Examination Achievements:</label>
    <textarea id="examinationAchievementsEng" formControlName="examinationAchievementsEng" type="text"></textarea>
  </div>

  <div>
    <label for="recommendedPrerequisitesEng">Recommended Prerequisites:</label>
    <textarea id="recommendedPrerequisitesEng" formControlName="recommendedPrerequisitesEng" type="text"></textarea>
  </div>

  <div>
    <label for="contentEng">Content:</label>
    <textarea id="contentEng" formControlName="contentEng"></textarea>
  </div>

  <div>
    <label for="learningOutcomesEng">Learning Outcomes:</label>
    <textarea id="learningOutcomesEng" formControlName="learningOutcomesEng" type="text" ></textarea>
  </div>

  <div>
    <label for="teachingMethodsEng">Teaching Methods:</label>
    <textarea id="teachingMethodsEng" formControlName="teachingMethodsEng" type="text" ></textarea>
  </div>

  <div>
    <label for="mediaEng">Media:</label>
    <textarea id="mediaEng" formControlName="mediaEng" type="text"></textarea>
  </div>

  <div>
    <label for="literatureEng">Literature:</label>
    <textarea id="literatureEng" formControlName="literatureEng" type="text"></textarea>
  </div>

  <div>
    <label for="responsiblesEng">Responsibles:</label>
    <textarea id="responsiblesEng" formControlName="responsiblesEng" type="text" ></textarea>
  </div>

  <div>
    <label for="lvSwsLecturerEng">Lecturer:</label>
    <textarea id="lvSwsLecturerEng" formControlName="lvSwsLecturerEng" type="text" ></textarea>
  </div>

  <button type="submit" [disabled]="proposalForm.invalid">Create Proposal</button>
</form>

