<div class="max-w-4xl mx-auto">
  <h1 class="text-2xl mb-8">{{ moduleVersionDto()?.titleEng ? 'Edit Proposal for ' + moduleVersionDto()?.titleEng : 'Create New Module Proposal' }}</h1>
  <p-message severity="secondary" class="mb-8">
    <div class="flex flex-row">
      <i class="pi pi-info-circle mt-1" style="font-size: 1.2rem"></i>
      <div class="ml-3">
        <p class="font-bold">Information</p>
        <p>
          Please fill out all information fields required for a new module.
          <br />
          After giving the module a title you can save your progress at any time and come back at another time.
        </p>
      </div>
    </div>
  </p-message>

  <form [formGroup]="proposalForm" (ngSubmit)="onSubmit()" class="space-y-6">
    <div>
      <label class="text-xl">Title</label>
      @if (moduleVersionId && hasFeedback('titleFeedback')) {
        <p-message severity="error" variant="outlined" styleClass="my-4 inline-block w-fit">
          @for (feedback of feedbacks(); track feedback.feedbackRole) {
            @if (feedback.titleFeedback) {
              <p>
                <span class="underline">{{ (feedback.feedbackRole! | feedbackDepartment).text }}:</span>
                {{ feedback.titleFeedback }}
              </p>
            }
          }
        </p-message>
      }
      <div class="mt-2">
        <input pInputText formControlName="titleEng" placeholder="Title (English)" class="w-full" />
        @if (proposalForm.get('titleEng')?.invalid && proposalForm.get('titleEng')?.touched) {
          <p-message severity="error" size="small" variant="simple" class="mt-1">A preliminary title is required</p-message>
        }
      </div>
    </div>

    <div>
      <label class="text-xl">Key Points</label>
      <div class="mt-2">
        <textarea
          pTextarea
          formControlName="bulletPoints"
          placeholder="Enter key points about the module to generate module descriptions from"
          rows="4"
          fluid
          [autoResize]="true"
        ></textarea>
      </div>
    </div>

    <div>
      <label class="text-xl">Level</label>
      @if (moduleVersionId && hasFeedback('levelFeedback')) {
        <p-message severity="error" variant="outlined" styleClass="my-4 inline-block w-fit">
          @for (feedback of feedbacks(); track feedback.feedbackRole) {
            @if (feedback.levelFeedback) {
              <p>
                <span class="underline">{{ (feedback.feedbackRole! | feedbackDepartment).text }}:</span>
                {{ feedback.levelFeedback }}
              </p>
            }
          }
        </p-message>
      }
      <div class="mt-2">
        <app-toggle-button-group
          [options]="[
            { value: 'Bachelor', label: 'Bachelor' },
            { value: 'Master', label: 'Master' },
            { value: 'Bachelor/Master', label: 'Bachelor/Master' }
          ]"
          [required]="false"
          formControlName="levelEng"
        ></app-toggle-button-group>
      </div>
    </div>

    <div>
      <label class="text-xl">Language</label>
      @if (moduleVersionId && hasFeedback('languageFeedback')) {
        <p-message severity="error" variant="outlined" styleClass="my-4 inline-block w-fit">
          @for (feedback of feedbacks(); track feedback.feedbackRole) {
            @if (feedback.languageFeedback) {
              <p>
                <span class="underline">{{ (feedback.feedbackRole! | feedbackDepartment).text }}:</span>
                {{ feedback.languageFeedback }}
              </p>
            }
          }
        </p-message>
      }
      <div class="mt-2">
        <app-toggle-button-group
          [options]="[
            { value: 'English', label: 'English' },
            { value: 'German', label: 'German' }
          ]"
          [required]="true"
          formControlName="languageEng"
        ></app-toggle-button-group>
      </div>
    </div>

    <div>
      <label class="text-xl">Duration</label>
      @if (moduleVersionId && hasFeedback('durationFeedback')) {
        <p-message severity="error" variant="outlined" styleClass="my-4 inline-block w-fit">
          @for (feedback of feedbacks(); track feedback.feedbackRole) {
            @if (feedback.durationFeedback) {
              <p>
                <span class="underline">{{ (feedback.feedbackRole! | feedbackDepartment).text }}:</span>
                {{ feedback.durationFeedback }}
              </p>
            }
          }
        </p-message>
      }
      <div class="mt-2">
        <app-toggle-button-group
          [options]="[
            { value: 'One Semester', label: 'One Semester' },
            { value: 'Two Semesters', label: 'Two Semesters' },
            { value: 'Three Semesters', label: 'Three Semesters' },
            { value: 'Four Semesters', label: 'Four Semesters' }
          ]"
          [required]="false"
          formControlName="duration"
        ></app-toggle-button-group>
      </div>
    </div>

    <div>
      <label class="text-xl">Repetition</label>
      @if (moduleVersionId && hasFeedback('repetitionFeedback')) {
        <p-message severity="error" variant="outlined" styleClass="my-4 inline-block w-fit">
          @for (feedback of feedbacks(); track feedback.feedbackRole) {
            @if (feedback.repetitionFeedback) {
              <p>
                <span class="underline">{{ (feedback.feedbackRole! | feedbackDepartment).text }}:</span>
                {{ feedback.repetitionFeedback }}
              </p>
            }
          }
        </p-message>
      }
      <div class="mt-2">
        <app-toggle-button-group
          [options]="[
            { value: 'End of Semester', label: 'End of Semester' },
            { value: 'Following Semester', label: 'Following Semester' },
            { value: 'End of Semester/Following Semester', label: 'End of Semester/Following Semester' }
          ]"
          [required]="false"
          formControlName="repetitionEng"
        ></app-toggle-button-group>
      </div>
    </div>

    <div>
      <label class="text-xl">Frequency</label>
      @if (moduleVersionId && hasFeedback('frequencyFeedback')) {
        <p-message severity="error" variant="outlined" styleClass="my-4 inline-block w-fit">
          @for (feedback of feedbacks(); track feedback.feedbackRole) {
            @if (feedback.frequencyFeedback) {
              <p>
                <span class="underline">{{ (feedback.feedbackRole! | feedbackDepartment).text }}:</span>
                {{ feedback.frequencyFeedback }}
              </p>
            }
          }
        </p-message>
      }
      <div class="mt-2">
        <app-toggle-button-group
          [options]="[
            { value: 'Winter semester', label: 'Winter semester' },
            { value: 'Summer semester', label: 'Summer semester' },
            { value: 'Winter/Summer semester', label: 'Winter/Summer semester' }
          ]"
          [required]="false"
          formControlName="frequencyEng"
        ></app-toggle-button-group>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label class="text-xl">Credits</label>
        @if (moduleVersionId && hasFeedback('creditsFeedback')) {
          <p-message severity="error" variant="outlined" styleClass="my-4 inline-block w-fit">
            @for (feedback of feedbacks(); track feedback.feedbackRole) {
              @if (feedback.creditsFeedback) {
                <p>
                  <span class="underline">{{ (feedback.feedbackRole! | feedbackDepartment).text }}:</span>
                  {{ feedback.creditsFeedback }}
                </p>
              }
            }
          </p-message>
        }
        <div class="mt-2">
          <p-inputNumber formControlName="credits" placeholder="Credits" class="w-full" [style]="{ width: '100%' }"></p-inputNumber>
        </div>
      </div>

      <div>
        <label class="text-xl">Total Hours</label>
        @if (moduleVersionId && hasFeedback('hoursTotalFeedback')) {
          <p-message severity="error" variant="outlined" styleClass="my-4 inline-block w-fit">
            @for (feedback of feedbacks(); track feedback.feedbackRole) {
              @if (feedback.hoursTotalFeedback) {
                <p>
                  <span class="underline">{{ (feedback.feedbackRole! | feedbackDepartment).text }}:</span>
                  {{ feedback.hoursTotalFeedback }}
                </p>
              }
            }
          </p-message>
        }
        <div class="mt-2">
          <p-inputNumber formControlName="hoursTotal" placeholder="Total Hours" class="w-full" [style]="{ width: '100%' }"></p-inputNumber>
        </div>
      </div>

      <div>
        <label class="text-xl">Self-Study Hours</label>
        @if (moduleVersionId && hasFeedback('hoursSelfStudyFeedback')) {
          <p-message severity="error" variant="outlined" styleClass="my-4 inline-block w-fit">
            @for (feedback of feedbacks(); track feedback.feedbackRole) {
              @if (feedback.hoursSelfStudyFeedback) {
                <p>
                  <span class="underline">{{ (feedback.feedbackRole! | feedbackDepartment).text }}:</span>
                  {{ feedback.hoursSelfStudyFeedback }}
                </p>
              }
            }
          </p-message>
        }
        <div class="mt-2">
          <p-inputNumber formControlName="hoursSelfStudy" placeholder="Self-Study Hours" class="w-full" [style]="{ width: '100%' }"></p-inputNumber>
        </div>
      </div>

      <div>
        <label class="text-xl">Presence Hours</label>
        @if (moduleVersionId && hasFeedback('hoursPresenceFeedback')) {
          <p-message severity="error" variant="outlined" styleClass="my-4 inline-block w-fit">
            @for (feedback of feedbacks(); track feedback.feedbackRole) {
              @if (feedback.hoursPresenceFeedback) {
                <p>
                  <span class="underline">{{ (feedback.feedbackRole! | feedbackDepartment).text }}:</span>
                  {{ feedback.hoursPresenceFeedback }}
                </p>
              }
            }
          </p-message>
        }
        <div class="mt-2">
          <p-inputNumber formControlName="hoursPresence" placeholder="Presence Hours" class="w-full" [style]="{ width: '100%' }"></p-inputNumber>
        </div>
      </div>
    </div>

    <div>
      <label class="text-xl">Examination Achievements</label>
      @if (moduleVersionId && hasFeedback('examinationAchievementsFeedback')) {
        <p-message severity="error" variant="outlined" styleClass="my-4 inline-block w-fit">
          @for (feedback of feedbacks(); track feedback.feedbackRole) {
            @if (feedback.examinationAchievementsFeedback) {
              <p>
                <span class="underline">{{ (feedback.feedbackRole! | feedbackDepartment).text }}:</span>
                {{ feedback.examinationAchievementsFeedback }}
              </p>
            }
          }
        </p-message>
      }
      <div class="mt-2">
        <textarea pTextarea formControlName="examinationAchievementsEng" placeholder="How is the students performance evaluated?" rows="4" fluid [autoResize]="true"></textarea>
      </div>
      <div class="flex justify-between mt-2">
        <p-button type="button" severity="secondary" [outlined]="true" size="small" (onClick)="togglePromptField('examination')">
          {{ showPrompt['examination'] ? 'Hide Prompt' : 'Customize Prompt' }}
        </p-button>
        <p-button type="button" severity="contrast" size="small" styleClass="min-w-28" (onClick)="generateExaminationAchievements()" [disabled]="loading()">
          Generate Examination Achievements
        </p-button>
      </div>
      @if (showPrompt['examination']) {
        <div class="mt-2 mb-2">
          <textarea
            pTextarea
            [formControlName]="'examinationAchievementsPromptEng'"
            placeholder="Enter additional prompt text for examination achievements generation"
            rows="2"
            fluid
            [autoResize]="true"
          ></textarea>
        </div>
      }
    </div>

    <div>
      <label class="text-xl">Recommended Prerequisites</label>
      @if (moduleVersionId && hasFeedback('recommendedPrerequisitesFeedback')) {
        <p-message severity="error" variant="outlined" styleClass="my-4 inline-block w-fit">
          @for (feedback of feedbacks(); track feedback.feedbackRole) {
            @if (feedback.recommendedPrerequisitesFeedback) {
              <p>
                <span class="underline">{{ (feedback.feedbackRole! | feedbackDepartment).text }}:</span>
                {{ feedback.recommendedPrerequisitesFeedback }}
              </p>
            }
          }
        </p-message>
      }
      <div class="mt-2">
        <textarea pTextarea formControlName="recommendedPrerequisitesEng" placeholder="What are participants expected to know?" rows="4" fluid [autoResize]="true"></textarea>
      </div>
    </div>

    <div>
      <label class="text-xl">Module Content</label>
      @if (moduleVersionId && hasFeedback('contentFeedback')) {
        <p-message severity="error" variant="outlined" styleClass="my-4 inline-block w-fit">
          @for (feedback of feedbacks(); track feedback.feedbackRole) {
            @if (feedback.contentFeedback) {
              <p>
                <span class="underline">{{ (feedback.feedbackRole! | feedbackDepartment).text }}:</span>
                {{ feedback.contentFeedback }}
              </p>
            }
          }
        </p-message>
      }
      <div class="mt-2">
        <textarea pTextarea formControlName="contentEng" placeholder="What is the module about?" rows="4" fluid [autoResize]="true"></textarea>
      </div>
      <div class="flex justify-between mt-2">
        <p-button type="button" severity="secondary" [outlined]="true" size="small" (onClick)="togglePromptField('content')">
          {{ showPrompt['content'] ? 'Hide Prompt' : 'Customize Prompt' }}
        </p-button>
        <p-button type="button" severity="contrast" size="small" (onClick)="generateContent()" [disabled]="loading()">Generate Content</p-button>
      </div>
      @if (showPrompt['content']) {
        <div class="mt-2">
          <textarea
            pTextarea
            [formControlName]="'contentPromptEng'"
            placeholder="Enter additional prompt text for content generation"
            rows="2"
            fluid
            [autoResize]="true"
          ></textarea>
        </div>
      }
    </div>

    <div>
      <label class="text-xl">Learning Outcomes</label>
      @if (moduleVersionId && hasFeedback('learningOutcomesFeedback')) {
        <p-message severity="error" variant="outlined" styleClass="my-4 inline-block w-fit">
          @for (feedback of feedbacks(); track feedback.feedbackRole) {
            @if (feedback.learningOutcomesFeedback) {
              <p>
                <span class="underline">{{ (feedback.feedbackRole! | feedbackDepartment).text }}:</span>
                {{ feedback.learningOutcomesFeedback }}
              </p>
            }
          }
        </p-message>
      }
      <div class="mt-2">
        <textarea pTextarea formControlName="learningOutcomesEng" placeholder="What will the participants learn?" rows="4" fluid [autoResize]="true"></textarea>
      </div>
      <div class="flex justify-between mt-2">
        <p-button type="button" severity="secondary" [outlined]="true" size="small" (onClick)="togglePromptField('learning')">
          {{ showPrompt['learning'] ? 'Hide Prompt' : 'Customize Prompt' }}
        </p-button>
        <p-button type="button" severity="contrast" size="small" (onClick)="generateLearningOutcomes()" [disabled]="loading()">Generate Learning Outcomes</p-button>
      </div>
      @if (showPrompt['learning']) {
        <div class="mt-2">
          <textarea
            pTextarea
            [formControlName]="'learningOutcomesPromptEng'"
            placeholder="Enter additional prompt text for learning outcomes generation"
            rows="2"
            fluid
            [autoResize]="true"
          ></textarea>
        </div>
      }
    </div>

    <div>
      <label class="text-xl">Teaching Methods</label>
      @if (moduleVersionId && hasFeedback('teachingMethodsFeedback')) {
        <p-message severity="error" variant="outlined" styleClass="my-4 inline-block w-fit">
          @for (feedback of feedbacks(); track feedback.feedbackRole) {
            @if (feedback.teachingMethodsFeedback) {
              <p>
                <span class="underline">{{ (feedback.feedbackRole! | feedbackDepartment).text }}:</span>
                {{ feedback.teachingMethodsFeedback }}
              </p>
            }
          }
        </p-message>
      }
      <div class="mt-2">
        <textarea pTextarea formControlName="teachingMethodsEng" placeholder="How will the content be taught?" rows="4" fluid [autoResize]="true"></textarea>
      </div>
      <div class="flex justify-between mt-2">
        <p-button type="button" severity="secondary" [outlined]="true" size="small" (onClick)="togglePromptField('teaching')">
          {{ showPrompt['teaching'] ? 'Hide Prompt' : 'Customize Prompt' }}
        </p-button>
        <p-button type="button" severity="contrast" size="small" (onClick)="generateTeachingMethods()" [disabled]="loading()">Generate Teaching Methods</p-button>
      </div>
      @if (showPrompt['teaching']) {
        <div class="mt-2">
          <textarea
            pTextarea
            [formControlName]="'teachingMethodsPromptEng'"
            placeholder="Enter additional prompt text for teaching methods generation"
            rows="2"
            fluid
            [autoResize]="true"
          ></textarea>
        </div>
      }
    </div>

    <div>
      <label class="text-xl">Media used</label>
      @if (moduleVersionId && hasFeedback('mediaFeedback')) {
        <p-message severity="error" variant="outlined" styleClass="my-4 inline-block w-fit">
          @for (feedback of feedbacks(); track feedback.feedbackRole) {
            @if (feedback.mediaFeedback) {
              <p>
                <span class="underline">{{ (feedback.feedbackRole! | feedbackDepartment).text }}:</span>
                {{ feedback.mediaFeedback }}
              </p>
            }
          }
        </p-message>
      }
      <div class="mt-2">
        <textarea pTextarea formControlName="mediaEng" placeholder="What media will be used?" rows="4" fluid [autoResize]="true"></textarea>
      </div>
    </div>

    <div>
      <label class="text-xl">Literature</label>
      @if (moduleVersionId && hasFeedback('literatureFeedback')) {
        <p-message severity="error" variant="outlined" styleClass="my-4 inline-block w-fit">
          @for (feedback of feedbacks(); track feedback.feedbackRole) {
            @if (feedback.literatureFeedback) {
              <p>
                <span class="underline">{{ (feedback.feedbackRole! | feedbackDepartment).text }}:</span>
                {{ feedback.literatureFeedback }}
              </p>
            }
          }
        </p-message>
      }
      <div class="mt-2">
        <textarea pTextarea formControlName="literatureEng" placeholder="What literature is reccommended?" rows="4" fluid [autoResize]="true"></textarea>
      </div>
    </div>

    <div>
      <label class="text-xl">Responsibles</label>
      @if (moduleVersionId && hasFeedback('responsiblesFeedback')) {
        <p-message severity="error" variant="outlined" styleClass="my-4 inline-block w-fit">
          @for (feedback of feedbacks(); track feedback.feedbackRole) {
            @if (feedback.responsiblesFeedback) {
              <p>
                <span class="underline">{{ (feedback.feedbackRole! | feedbackDepartment).text }}:</span>
                {{ feedback.responsiblesFeedback }}
              </p>
            }
          }
        </p-message>
      }
      <div class="mt-2">
        <textarea pTextarea formControlName="responsiblesEng" placeholder="Who is responsible for the module?" rows="4" fluid [autoResize]="true"></textarea>
      </div>
    </div>

    <div>
      <label class="text-xl">Lecturer</label>
      @if (moduleVersionId && hasFeedback('lvSwsLecturerFeedback')) {
        <p-message severity="error" variant="outlined" styleClass="my-4 inline-block w-fit">
          @for (feedback of feedbacks(); track feedback.feedbackRole) {
            @if (feedback.lvSwsLecturerFeedback) {
              <p>
                <span class="underline">{{ (feedback.feedbackRole! | feedbackDepartment).text }}:</span>
                {{ feedback.lvSwsLecturerFeedback }}
              </p>
            }
          }
        </p-message>
      }
      <div class="mt-2">
        <textarea pTextarea formControlName="lvSwsLecturerEng" placeholder="Who will hold the lectures?" rows="4" fluid [autoResize]="true"></textarea>
      </div>
    </div>

    <div class="flex justify-between">
      <p-button (onClick)="goBack()" severity="secondary" [outlined]="true">Cancel</p-button>
      <p-button type="submit" severity="contrast" [disabled]="proposalForm.invalid || loading">
        {{ loading() ? 'Saving...' : moduleVersionDto() ? 'Update Proposal' : 'Create Proposal' }}
      </p-button>
    </div>

    @if (error()) {
      <p-message severity="error" icon="pi pi-exclamation-circle">{{ error() }}</p-message>
    }
  </form>
</div>
